{{!-- <div class="flex items-center justify-between shadow-xl min-h-[60px]">
    <div class="pl-5 text-3xl font-medium">
        <span>Quiz</span><span class="text-amber-400">zard</span>
    </div>
    <ul id="nav-options" class="flex items-center justify-between w-[300px] pr-10 text-amber-400 font-medium">
        <li>Previous attempts</li>
        <li><button class="px-4 py-1 border-amber-400 border-2">Login</button></li>
    </ul>
</div> --}}

<div class="flex items-center justify-between p-4 shadow-xl min-h-[60px] sticky top-0 bg-white">
    <div class="pl-5 text-3xl font-medium"><span>Quiz</span><span class="text-amber-400">zard</span></div>
    <div class="md:hidden cursor-pointer text-2xl">
        <i class="fas fa-bars menu-toggle"></i>
    </div>
    <nav class="hidden md:flex md:items-center space-x-8">
        <a href="/" class=" text-amber-400 font-medium">Home</a>
        <a href="/prev" class=" text-amber-400 font-medium">Previous attempts</a>
        <a href="#" class=""><button class="px-4 py-1 font-medium border-amber-400 rounded-lg text-amber-400 border-2">Login</button></a>
    </nav>
</div>

<nav class="fixed top-0 right-0 w-2/3 md:w-1/3 h-full bg-[#12152bea] text-white flex flex-col items-center justify-start space-y-6 transform translate-x-full transition-transform duration-300 ease-in-out menu">
    <div class="cursor-pointer text-2xl mt-4 flex items-center justify-center">
        <i class="fas fa-times close"></i>
    </div>
    <a href="/" class=" text-amber-400 font-medium">Home</a>
    <a href="/prev" class=" mt-20 text-amber-400 font-medium">Previous attempts</a>
    <a href="#" class=""><button class="px-4 py-1 font-medium rounded-lg border-amber-400 text-amber-400 border-2">Login</button></a>
</nav>