<div class="flex items-center justify-between shadow-xl min-h-[60px]">
    <div>
        <span>Quiz</span><span class="text-amber-400">zard</span>
    </div>
    <ul class="flex items-center justify-between w-[20%] pr-10">
        <li>Previous attempts</li>
        <li><button class="p-2">Login</button></li>
    </ul>
</div>