<div class="flex flex-col-reverse lg:flex-row gap12 lg:gap-0 item-center justify-center min-h-[500px] h-auto">
    <div id="component" class="w-[60%] max-lg:w-full flex items-center justify-center max-lg:pb-20">
        <div class="flex flex-col h-auto w-[60%] gap-16">
            <div class="h-auto w-full">
            <h1 class="font-semibold text-5xl max-sm:text-3xl">Learn new concepts for each questions</h1>
        </div>
        <div class="bg-slate-200 px-4 py-2 border-l-2 border-black">
            <p class="text-lg max-sm:text-sm">We help you prepare for exam</p>
        </div>
        <a href="/startquiz" class="max-lg:flex  max-lg:justify-center"><button class="bg-amber-400 text-white text-lg font-medium shadow-[0_0_20px_rgba(229,186,56)] px-4 py-2 hover:scale-105 rounded-md">Start solving</button></a>
        </div>
    </div>
    <div id="component" class="w-[40%] flex items-center justify-center max-lg:w-full">
        <div class="h-[360px] w-[360px]">
            <img src="homeimg.png" alt="img">
        </div>
    </div>
</div>
