<div class="container mx-auto p-4 w-full">
    <h1 class="text-3xl font-bold text-center mb-8">Previous Quiz Attempts</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card 1 -->
      {{#each data}}
        <div class="bg-white shadow-md rounded-lg overflow-hidden glow-border p-4 mb-5">
          <h2 class="text-xl font-semibold mb-2">{{this.pre_data.domain}}</h2>
          <p class="text-gray-600">Level : {{this.pre_data.qtype}}</p>
          <p class="text-gray-600">Date: 2024-07-25</p>
          <p class="text-gray-600">Marks Obtained: {{this.pre_data.marks}}/10</p>
          <a href='/result?predatatoken={{this.pre_data_token}}'><button class=" px-4 py-1 bg-yellow-500 rounded-lg mt-2 font-semibold text-white hover:bg-yellow-700">Show Result</button></a>
        </div>
      {{/each}}

    </div>
  </div>